/* .containerFiles {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
} */

/* #fileNames {
  max-width: 100%;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
} */

/* .div-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
} */

/* #upload-zone {
  display: flex;
}

#documents {
  width: 50%;
  border-radius: 25px;
}

#img-upload {
  display: flex;
  justify-content: center;
  align-items: center;
}

#upload-files-zone {
  margin-top: 1%;
  margin-left: 2%;
}

#fileNames {
  max-width: 100%;
  word-wrap: break-word;
  margin: 5px 0px;
}

#upload-form {
  width: 30vw;
} */

/* #btn-upload:disabled {
  background-color: #62625e;
  border: solid #ffe600;
}

.up:focus {
  border-color: #ffe600;
  box-shadow: 0 0 10px #ffe600;
} */
