.containerFiles {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#fileNames {
  max-width: 100%;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
}

#upload-form {
  width: 30vw;
}

.img-carrusel {
  width: 100vw;
  height: 60vh;
}

.carousel-inner {
  height: 60vh;
}

.container {
  display: flex;
  justify-content: center;
}

.div-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

#upload-zone {
  display: flex;
}

#documents {
  height: 90%;
  width: auto;
  border-radius: 25px;
}

#img-upload {
  display: flex;
  justify-content: center;
  align-items: center;
}

#upload-files-zone {
  margin-top: 1%;
  margin-left: 2%;
}

.btn {
  background-color: #ffe600;
  border: solid #ffe600;
}

#fileNames {
  max-width: 100%;
  word-wrap: break-word;
  margin: 5px 0px;
}

#upload-form {
  width: 30vw;
}

#btn-upload {
  background-color: #62625e;
  border: solid #62625e;
}
