.containerFiles {
  display: flex;
  width: 100%;
  height: 50vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background-image: linear-gradient(#333333, #ffe600);
}

#fileNames {
  max-width: 100%;
  word-wrap: break-word;
  margin: 5px 0px;
}

#upload-form {
  width: 30vw;
}
