<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Archivos de estilo Start -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <!-- Archivos de estilo End -->
    <link rel="stylesheet" href="../static/css/aks.css">
    <link rel="shortcut icon" href="../static/images/faviconAI.jpg">
    <title>ask</title>
</head>

<body>
    <div id="loaderContainer">
        <div id="loader"></div>
    </div>
    <!-- Barra de navegación Start -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Auditor<strong style="color: #ffe600;">IA</strong></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Estados financieros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Regulación</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Conócenos</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Búsqueda rápida" aria-label="Search">
                    <button class="btn btn-outline-success" style="color: #ffe600; border-color: #ffe600;"
                        type="submit">Buscar</button>
                </form>
            </div>
        </div>
    </nav>
    <!-- Barra de navegación End-->
    <div class="containerG">
        <br>
        <h1>Auditor<span style="color: #ffe600;">IA</span> en salud</h1>
        <p>Estamos emocionados de presentar <strong>Auditor<span style="color: #ffe600;">IA</span></strong>, una
            innovadora aplicación en
            desarrollo que
            aprovecha la
            inteligencia artificial para revolucionar la auditoría en el sector de la salud. Nuestra solución promete
            brindar auditorías más precisas, ahorrar tiempo y costos, y mejorar la calidad de la atención médica. Únase
            a nosotros en esta emocionante travesía hacia un futuro más eficiente y confiable en la auditoría de salud.
        </p>
        <h5>Archivos seleccionados:</h5>
        <ol>
            {% for nombre in nombres %}
            <li>{{ nombre }}</li>
            {% endfor %}
        </ol>
        <!-- Nuevo orden -->
        <div id="pre-question" class="prevQuestion"></div>
        <div class="textBox">
            <!-- <div id="test">
                <h5 for="questionModel">Escribe la pregunta que deseas realizar:</h5>
                <form action="/" method="get">
                    <button style="margin-bottom: 5px;" type="submit" class="btn btn-outline-secondary consult close"
                        aria-label="Close">
                        Borrar archivos
                    </button>
                </form>
            </div> -->
            <h5 for="questionModel">Escribe la pregunta que deseas realizar</h5>
            <div class="input-group">
                <textarea class="form-control" id="questionModel" rows="2" style="resize:none"></textarea>
                <span class="input-group-btn">
                    <button id="btn-ask" class="btn btn-primary" type="button" disabled
                        style="height: 100%; border-top-left-radius: 0%; border-top-left-radius: 0%; border-bottom-left-radius: 0%;">Consultar</button>
                </span>
            </div>
        </div>
        <div id="askrender" class="textBox"></div>
    </div>
    <!-- Bootstrap scripts Start-->
    <script src=" https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <!-- Bootstrap scripts End-->
</body>
<script src="../static/js/index.js"></script>
<script src="../static/js/animations.js"></script>

</html>